/* Fondo general con imagen oficial */
body {
    background: url("https://www.gob.mx/cms/uploads/article/main_image/132761/portada.jpg") center/cover no-repeat fixed;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

/* Contenedor general */
.container {
    background-color: rgba(0, 0, 0, 0.5); /* Translucido para legibilidad */
    padding: 30px;
    border-radius: 12px;
}

/* Título */
.titulo {
    font-weight: 700;
    letter-spacing: 2px;
}

/* Controles */
.form-label, p {
    color: #fff;
}

/* Banda de la bandera */
.bandera-wrapper {
    max-width: 800px;
    margin: auto;
}

/* Proporción de la bandera */
.bandera {
    display: flex;
    width: 100%;
    height: 400px;
    border: 4px solid #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

/* Franjas */
.franja {
    flex: 1;
}

/* Colores iniciales oficiales */
#greenFlag {
    background-color: #008000;
}

.blanca {
    background-color: #FFFFFF;
}

#redFlag {
    background-color: #FF0000;
}

/* Escudo */
.escudo-img {
    max-height: 65%;
    width: auto;
}

/* Nombres */
.nombres p {
    margin: 4px;
    font-weight: 500;
    color: #fff;
}
